extends layout

block content
  h1= title  
  - let results=[{Apple_colour :"red",Apple_price:50,Apple_quantity:100},{Apple_colour :"green",Apple_price:120,Apple_quantity:200},{Apple_Colour:"purple",Apple_price:90 ,oat_quantity:200}]
  div(class="container-fluid")
  div(class="row")
   each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  #{value.Apple_flavour} Apple, price #{value.Apple_price}, quantity #{value.Apple_quantity}
   script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }